<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark nav-mycol rounded-top">
	<div class="container-fluid">
		<div class="navbar-header nav-justified">
			<h1 class="text-light">&lt;Matcha/&gt;</h1>
			<ul class="nav navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">&lt;Home/&gt;</a></li>
				<%
				if (!user) {%>
				<li class="nav-item"><a class="nav-link" href="/login">&lt;Login/&gt;</a></li>
				<li class="nav-item"><a class="nav-link" href="/signup">&lt;Signup/&gt;</a></li>
				<% } else {
					if (user['type'] === 'Admin') {
						%>
							<li class="nav-item"><a class="nav-link" href="/admin">&lt;Admin Panel/&gt;</a></li>
						<%
					}
					var blockCount = user['blocks'].length;
					var likeCount = user['likes'].length;
					var likedUsers = user['likes'] != null ? user['likes'] : [];
					var likedBy = user['likedBy'] != null ? user['likedBy'] : [];
					var matchCount = 0;
					likedUsers.forEach(likes => {
						likedBy.forEach(liked => {
							if (likes == liked)
								matchCount++;
						})
					})
					%>
					<li class="nav-item"><a class="nav-link" href="/likes">&lt;Likes(<%= likeCount %>)/&gt;</a></li>
					<li class="nav-item"><a class="nav-link" href="/blocks">&lt;Blocks(<%= blockCount %>)/&gt;</a></li>
					<li class="nav-item"><a class="nav-link" href="/matches">&lt;Matches(<%= matchCount %>)/&gt;</a></li>
					<li class="nav-item"><a class="nav-link" href="/profile">&lt;Profile/&gt;</a></li>
					<li class="nav-item"><a class="nav-link" href="/logout/user">&lt;Logout/&gt;</a></li>
				<%}%>
			</ul>
		</div>
	</div>
</nav>
<% 
	Number.prototype.toFixedDown = function(digits) {
		var re = new RegExp("(\\d+\\.\\d{" + digits + "})(\\d)"),
			m = this.toString().match(re);
		return m ? parseFloat(m[1]) : this.valueOf();
	};
%>
