<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Matcha</title>
<!-- CSS (load bootstrap from a CDN) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/ad8130600c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<style>
    body {
        background: transparent;
    }
    html { 
        background: url('https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Feskipaper.com%2Fimages%2Ftextured-backgrounds-5.jpg&f=1') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<script>
	if (navigator.geolocation)
	{
		navigator.geolocation.getCurrentPosition(SetPostition)
	}

	function SetPostition(pos)
	{
		$.post('/user/updateLoc', {
				long: pos.coords.longitude,
				lat: pos.coords.latitude
			}).done(function(data) {});
	}
</script>