<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				Matcha
			</a>
			<ul class="nav navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
			</ul>
		</div>
	</div>
</nav>