*
{
	font-size: 2.1vh;
}

.page {
	/*background-color: #9F6164 !important;*/
	background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.stack.imgur.com%2FpMAiU.jpg&f=1'); 
	background-position: fixed;
}

.nav-mycol {
	background-color: #9F6164 !important;
}

body
{
	color: #F8F8F2;
}

.text-muted
{
	color: #f8f8f2 !important;
}

.btn-outline-custom {
	color: #f8f8f2;
	background-color: transparent;
	background-image: none;
	border-color: #f8f8f2;
}

.btn-outline-custom:hover{
	color: black;
	background-color: #f8f8f2;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: rgba(#F8DEBD, 0.4);
}

.container-img {
	position: relative;
	width: 100%;
	max-width: 400px;
  }

.container-img:hover .overlay {
	opacity: 1;
}

img {
	border-radius: 30px;
}

.icon {
	color: white;
	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.fa-plus:hover {
	color: #9F6164;
}

.card {
	background-color: #9F6164;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 8em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

.edit-label {
	padding: 2px 10px 2px 10px;
	border: solid 1px #e6e6e6;
	border-radius: 5px;
}

.edit-label:hover {
	padding: 2px 10px 2px 10px;
	border: solid 1px #cccccc;
	border-radius: 5px;
}

.tag-button {
	background-color: transparent;
	color: white;
	border: 2px solid black;
	border-radius: 12px;
}
.tag-button:hover{
	background-color: #9F6164;
	border: 2px solid #222222;
}

input {
	border: solid 1px #e6e6e6;
	border-radius: 5px; 
	-webkit-box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	-moz-box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 16px rgba(0,0,0,0.1); 
	padding: 2px 10px 2px 10px;
	background: #9F6164;
	color: whitesmoke;
}

@media (max-width: 1024px) {

	.edit-label {
		padding: 2px 10px 2px 10px;
		border: solid 5px #e6e6e6 !important;
		border-radius: 5px;
	}
	
	.edit-label:hover {
		padding: 2px 10px 2px 10px;
		border: solid 5px #cccccc !important;
		border-radius: 5px;
	}

}