<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
		<script src="js/login.js"></script>
	</header>
	<main>
		<div class="jumbotron">
			<h1>&lt;Login Page/&gt;</h1>
				<hr>
				<div class="form-group">
					<label for="email">&lt;Email/&gt;</label>
					<input type="email" name="email" id="email" class="form-control" placeholder="email@example.com" aria-describedby="helpId">
					<small id="helpId" class="text-muted">Insert a valid email address</small>
				</div>
				<div class="form-group">
					<label for="password">&lt;Password/&gt;</label>
					<input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Password">
					<small id="helpId" class="form-text text-muted">Password requires atleast 1 Uppercase, 1 Lowercase, 1 number and 1 special character</small>
				</div>
				<hr>
				<div class="column">
					<button id="Login-Button" type="submit" class="btn btn-outline-info">&lt;Login/&gt;</button>
					<button id="Resend-Button" type="submit" class="btn btn-outline-info">&lt;Resend Verification/&gt;</button>
					<button id="Forgot-Button" type="submit" class="btn btn-outline-info">&lt;Forgot Password/&gt;</button>
				</div>
		</div>
	</main>
		<% include ../../partials/error %>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>