<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="jumbotron page">
			<h1>&lt;Login Page/&gt;</h1>
			<hr>
			<form>
				<div class='login-form'>
					<div class="form-group">
						<label for="email">&lt;Email/&gt;</label>
						<input type="email" name="email" id="email" class="form-control" placeholder="email@example.com" aria-describedby="helpId">
						<small id="helpId" class="text-muted">Insert a valid email address</small>
					</div>
					<div class="form-group">
						<label for="password">&lt;Password/&gt;</label>
						<input pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&_])[A-Za-z\d@$!%*?&_]{8,}$' type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Password">
						<small id="helpId" class="form-text text-muted">Password requires atleast 1 Uppercase, 1 Lowercase, 1 number and 1 special character, 8 characters minumum</small>
					</div>
					<hr>
					<div class="column">
						<button id="Login-Button" type="submit" class="btn btn-outline-custom">&lt;Login/&gt;</button>
						<button id="Resend-Button" type="submit" class="btn btn-outline-custom">&lt;Resend Verification/&gt;</button>
						<button id="Forgot-Button" type="submit" class="btn btn-outline-custom">&lt;Forgot Password/&gt;</button>
					</div>
				</div>
				<div class="loader-container">
					<div class="loader" style="display: none;"></div>
				</div>
			</form>
		</div>
	</main>
	<% include ../../partials/error %>
	<footer>
		<script src="js/login.js"></script>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>
