<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="container bg-light rounded-bottom">
			<h1>&lt;Profile Page/&gt;</h1>
			<!--Prof pic-->
			<div class="d-flex flex-column border" style="width: 250px">
				<img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:240px; height: 240px; background-color: blue;">
				<hr>
				<h3>&lt;About me/&gt;</h3>
				<textarea cols="20" rows="5" style="resize: none;">example text</textarea>
			</div>
		</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>