<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="container bg-light rounded-bottom">
			<h1>&lt;Profile Page/&gt;</h1>
			<!--Prof pic-->
			<div class="d-flex flex-row">
			<div class="d-flex flex-column w-25">
				<div class="">
					<img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:240px; height: 240px; background-color: blue;">
				</div>
				<hr>
				<h3>&lt;About me/&gt;</h3>
				<textarea cols="20" rows="5" style="resize: none;">example text</textarea>
			</div>
			<div class="w-75">
				<div class="d-flex flex-row">
					<div class="p-2 d-flex flex-column">
						<img src="" alt="Image 1" width="100" height="100">
						<button class="btn">Upload image 1</button>
					</div>
					<div class="p-2 d-flex flex-column">
						<img src="" alt="Image 2" width="100" height="100">
						<button class="btn">Upload image 2</button>
					</div>
					<div class="p-2 d-flex flex-column">
						<img src="" alt="Image 3" width="100" height="100">
						<button class="btn">Upload image 3</button>
					</div>
					<div class="p-2 d-flex flex-column">
						<img src="" alt="Image 4" width="100" height="100">
						<button class="btn">Upload image 4</button>
					</div>
					<div class="p-2 d-flex flex-column">
						<img src="" alt="Image 5" width="100" height="100">
						<button class="btn">Upload image 5</button>
					</div>
					<hr>
					<div>
						
					</div>
				</div>
			</div>
			</div>
		</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>