<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="container bg-light rounded-bottom mh-100">
			<h1>&lt;Profile Page/&gt;</h1>
		<!--TEMPLATE-->
		<!--End Template-->
		</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>