<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
	<script src="js/signup.js"></script>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="jumbotron page">
			<h1>Signup Page</h1>
			<hr>
			<form>
				<div class="form-group">
					<label for="text">Username</label>
					<input type="input" name="uname" id="uname" class="form-control" placeholder="Username" aria-describedby="helpId">
					<small id="helpId" class="text-muted">Enter a unique username</small>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" class="form-control" placeholder="email@example.com" aria-describedby="helpId">
					<small id="helpId" class="text-muted">Insert a valid email address</small>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&_])[A-Za-z\d@$!%*?&_]{8,}$' type="password" required class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Password">
					<small id="helpId" class="form-text text-muted">Password requires atleast 1 Uppercase, 1 Lowercase, 1 number and 1 special character, 8 characters minumum</small>
				</div>
				<div class="form-group">
					<label for="password">Confirm Password</label>
					<input pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&_])[A-Za-z\d@$!%*?&_]{8,}$' type="password" required class="form-control" name="cpassword" id="cpassword" aria-describedby="helpId" placeholder="Password">
					<small id="helpId" class="form-text text-muted">Password requires atleast 1 Uppercase, 1 Lowercase, 1 number and 1 special character, 8 characters minumum</small>
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input id="emailpref" name="emailpref" type="radio">
						</div>
					</div>
					<span class="form-control" style="height: auto;">Would you, the user, like to recieve pointless emails from us?</span>
				</div>
				<hr>
				<button type="submit" id='Signup-Button' class="btn btn-outline-custom">Signup</button>
			</form>
			</div>
		</div>
	</main>
	<% include ../../partials/error %>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>