<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="jumbotron text-center d-flex justify-content-center flex-column">
	<h1>404 - Page not found</h1>
	<iframe src="https://giphy.com/embed/hEc4k5pN17GZq" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
	<a href="/">Go back home Jack</a>
</body>
</html>