<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<!-- <%
		console.log(name)  //This is for consoling of all jank, it will be in terminal hosting node.
	%> -->
	<body class="container">
		
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>
            <!-- Jank goes here Buddy, have fun-->
            







			<!-- <p1><%= name %></p1> This is to display passed variables -->
		</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>