<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container page">
		<hr>
		<% if (setup === false) {
		%>
			<h1>Please setup account before you can search for users</h1>
			<a class="nav-link" href="/profile">&lt;Profile/&gt;</a>
		<%
		} else { %>
			<div class="card-group mr-auto ml-auto">
				<div class="column">
					<div class="card text-white bg-dark rounded" class="w-25">
						<img class="card-img-top" src="..." alt="Card image cap">
						<div class="card-body">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
					<hr>
					<div class="card text-white bg-dark rounded" class="w-25">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					</div>
					<hr>
					<div class="card text-white bg-dark rounded" class="w-25">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					</div>
					<hr>
					<div class="card text-white bg-dark rounded" class="w-25">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					</div>
				</div>
			</div>
		<% } %>
		<hr>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>