<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container page">
		<% if (setup === false) {
		%>
			<h1>Please setup account before you can search for users</h1>
			<a class="nav-link" href="/profile">&lt;Profile/&gt;</a>
		<%
		} else { %>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="card" style="height: 200px">

						</div>
					</div>
					<div class="col-lg-4">
						<div class="card" style="height: 200px">

						</div>
					</div>
					<div class="col-lg-4">
						<div class="card" style="height: 200px">

						</div>
					</div>
				</div>
			</div>
		<% } %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>